/* Table Row Highlighting */

#task-table-body > tr:hover, #tag-table-body > tr:hover
{
    background-color: lightgray;
}

#task-table-body > tr > td.embolden:hover, #tag-table-body > tr > td.embolden:hover
{
    text-shadow: 0px 0px 1px black;
}

/* Table Row Revealing Icon Options with hover */

#task-table-body > tr > td > div.selective-icon-opts
{
    visibility: hidden;
}

#task-table-body > tr:hover > td > div.selective-icon-opts
{
    visibility: visible;
}

/* Square icon transitioning to checked when hovering over checkbox */

div.selective-icon-opts-checkbox:hover > div.selective-icon-activated
{

    display: block;
}

div.selective-icon-opts-checkbox:hover > div.selective-icon-inactivated,
div.selective-icon-opts-checkbox > div.selective-icon-activated
{
    display: none;
}

/* General styling */

table
{
    min-width: 100%;
    border: 1px;
    border: solid;
    border-width: thin;
    font-size: 22px;
}

table thead th
{
    text-align: center;
    padding: 5px;
}

table tr td, table tr th
{
    border: 1px;
    border: solid;
    border-width: thin;
    font-size: 22px;
}