/* Table Row Highlighting */

/* Highlight task title when hovering over related columns */

#task-table-body div:has(> .task-title):has(+ * + * + * + div:hover),
#task-table-body div:has(> .task-title):has(+ * + * + * + * + div:hover)
{
    background-color: lightgray;
}

#task-table-body > div:nth-child(12n + 7),
#task-table-body > div:nth-child(12n + 8),
#task-table-body > div:nth-child(12n + 9),
#task-table-body > div:nth-child(12n + 10) {
    background-color: aliceblue;
}


#task-table-body .embolden:hover, #tag-table-body > tr > td.embolden:hover
{
    text-shadow: 0px 0px 1px black;
}


#task-table-body > div:hover > div.selective-icon-opts
{
    visibility: visible;
}

/* Square icon transitioning to checked when hovering over checkbox */

div.selective-icon-opts-checkbox:hover > div.selective-icon-activated
{

    display: inline-flex;
}

div.selective-icon-opts-checkbox:hover > div.selective-icon-inactivated,
div.selective-icon-opts-checkbox > div.selective-icon-activated
{
    display: none;
}

/* General styling */

.disabled-new-task
{
    color: gray;
}